/*
 * Mist API
 *
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * API version: 2.0.0
 * Contact: api@mist.io
 */

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package mist_sdk

import (
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
)

// Linger please
var (
	_ _context.Context
)

// DatapointsApiService DatapointsApi service
type DatapointsApiService service

type ApiGetDatapointsRequest struct {
	ctx _context.Context
	ApiService *DatapointsApiService
	query *string
	tags *string
	search *string
	start *string
	end *string
	step *string
	time *string
}

func (r ApiGetDatapointsRequest) Query(query string) ApiGetDatapointsRequest {
	r.query = &query
	return r
}
func (r ApiGetDatapointsRequest) Tags(tags string) ApiGetDatapointsRequest {
	r.tags = &tags
	return r
}
func (r ApiGetDatapointsRequest) Search(search string) ApiGetDatapointsRequest {
	r.search = &search
	return r
}
func (r ApiGetDatapointsRequest) Start(start string) ApiGetDatapointsRequest {
	r.start = &start
	return r
}
func (r ApiGetDatapointsRequest) End(end string) ApiGetDatapointsRequest {
	r.end = &end
	return r
}
func (r ApiGetDatapointsRequest) Step(step string) ApiGetDatapointsRequest {
	r.step = &step
	return r
}
func (r ApiGetDatapointsRequest) Time(time string) ApiGetDatapointsRequest {
	r.time = &time
	return r
}

func (r ApiGetDatapointsRequest) Execute() (GetDatapointsResponse, *_nethttp.Response, error) {
	return r.ApiService.GetDatapointsExecute(r)
}

/*
 * GetDatapoints Get datapoints
 * Get datapoints for a specific query
 * @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @return ApiGetDatapointsRequest
 */
func (a *DatapointsApiService) GetDatapoints(ctx _context.Context) ApiGetDatapointsRequest {
	return ApiGetDatapointsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

/*
 * Execute executes the request
 * @return GetDatapointsResponse
 */
func (a *DatapointsApiService) GetDatapointsExecute(r ApiGetDatapointsRequest) (GetDatapointsResponse, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  GetDatapointsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DatapointsApiService.GetDatapoints")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/datapoints"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.query == nil {
		return localVarReturnValue, nil, reportError("query is required and must be specified")
	}

	localVarQueryParams.Add("query", parameterToString(*r.query, ""))
	if r.tags != nil {
		localVarQueryParams.Add("tags", parameterToString(*r.tags, ""))
	}
	if r.search != nil {
		localVarQueryParams.Add("search", parameterToString(*r.search, ""))
	}
	if r.start != nil {
		localVarQueryParams.Add("start", parameterToString(*r.start, ""))
	}
	if r.end != nil {
		localVarQueryParams.Add("end", parameterToString(*r.end, ""))
	}
	if r.step != nil {
		localVarQueryParams.Add("step", parameterToString(*r.step, ""))
	}
	if r.time != nil {
		localVarQueryParams.Add("time", parameterToString(*r.time, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
