openapi: 3.0.3
info:
  contact:
    email: api@mist.io
    name: Mist API Team
  title: Mist API
  version: 2.0.0
  x-cli-name: Mist CLI
servers:
- description: Mist Hosted Service
  url: https://mist.io/
paths:
  /api/v2/clouds:
    get:
      description: List clouds owned by the active org. READ permission required on
        cloud.
      operationId: list-clouds
      parameters:
      - description: Only return results matching search filter
        examples:
          Filter by cloud provider:
            value: provider:amazon
          Filter by name:
            value: name:LXD1
          Composite filter:
            value: provider:packet AND status:enabled
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: Order results by
        examples:
          Sort by name, descending:
            value: -name
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - description: Start results from index or id
        examples:
          Start from the 50th result:
            value: "50"
          Start from item with id xyz:
            value: xyz
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: string
        style: form
      - description: Limit number of results, 1000 max
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Only return these fields
        examples:
          Only return id:
            value: id
          Return id, name & owned_by:
            value: id,name,owned_by
        explode: true
        in: query
        name: only
        required: false
        schema:
          type: string
        style: form
      - description: Dereference foreign keys
        examples:
          (default) Automatically replace all foreign key ids with referenced resource name:
            value: auto
          Do not dereference anything, just return ids:
            value: none
          Dereference creator by email, owner by name:
            value: creator:email, owned_by:name
        explode: true
        in: query
        name: deref
        required: false
        schema:
          default: auto
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCloudsResponse'
          description: List clouds response
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
      security:
      - ApiKeyAuth:
        - read:cloud
      - CookieAuth:
        - read:cloud
      summary: List clouds
      tags:
      - clouds
      x-cli-table-default:
      - name
      - provider
      - tags
      x-cli-table-extended:
      - id
      - name
      - provider
      - tags
      - owned_by
      - created_by
    post:
      description: Adds a new cloud and returns the cloud's id. ADD permission required
        on cloud.
      operationId: add-cloud
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddCloudRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
          description: Cloud added succesfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
      security:
      - ApiKeyAuth:
        - add:cloud
      - CookieAuth:
        - add:cloud
      summary: Add cloud
      tags:
      - clouds
  /api/v2/clouds/{cloud}:
    delete:
      description: Remove target cloud
      operationId: remove-cloud
      parameters:
      - example: example-cloud
        explode: false
        in: path
        name: cloud
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Cloud removed successfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Cloud not found
      security:
      - ApiKeyAuth:
        - remove:cloud
      - CookieAuth:
        - remove:cloud
      summary: Remove cloud
      tags:
      - clouds
    get:
      description: Get details about target cloud
      operationId: get-cloud
      parameters:
      - example: example-cloud
        explode: false
        in: path
        name: cloud
        required: true
        schema:
          type: string
        style: simple
      - description: Order results by
        examples:
          Sort by name, descending:
            value: -name
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - description: Only return these fields
        examples:
          Only return id:
            value: id
          Return id, name & owned_by:
            value: id,name,owned_by
        explode: true
        in: query
        name: only
        required: false
        schema:
          type: string
        style: form
      - description: Dereference foreign keys
        examples:
          Automatically replace all foreign key ids with referenced resource name:
            value: auto
          Do not dereference anything, just return ids:
            value: none
          Dereference creator by email, owner by name:
            value: creator:email, owned_by:name
        explode: true
        in: query
        name: deref
        required: false
        schema:
          default: auto
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCloudResponse'
          description: Cloud returned successfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Cloud not found
      security:
      - ApiKeyAuth:
        - read:cloud
      - CookieAuth:
        - read:cloud
      summary: Get cloud
      tags:
      - clouds
      x-cli-table-default:
      - name
      - provider
      - tags
      x-cli-table-extended:
      - id
      - name
      - provider
      - tags
      - owned_by
      - created_by
    put:
      description: Update target cloud name or credentials
      operationId: edit-cloud
      parameters:
      - example: example-cloud
        explode: false
        in: path
        name: cloud
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditCloudRequest'
      responses:
        "200":
          description: Cloud updated successfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Cloud not found
      security:
      - ApiKeyAuth:
        - edit:cloud
      - CookieAuth:
        - edit:cloud
      summary: Edit cloud
      tags:
      - clouds
  /api/v2/clusters:
    get:
      description: List clusters
      operationId: list-clusters
      parameters:
      - examples:
          Filter by cloud id:
            value: 0194030499e74b02bdf68fa7130fb0b2
          Filter by cloud name:
            value: OSP10-new
          Filter by cloud provider:
            value: provider:digitalocean
        explode: true
        in: query
        name: cloud
        required: false
        schema:
          type: string
        style: form
      - description: Only return results matching search filter
        examples:
          Filter by cluster created_by attribute:
            value: created_by:csk
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: Order results by
        examples:
          Sort by name, descending:
            value: -name
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - description: Start results from index or id
        examples:
          Start from the 50th result:
            value: "50"
          Start from item with id xyz:
            value: xyz
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: string
        style: form
      - description: Limit number of results, 1000 max
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Only return these fields
        examples:
          Only return id:
            value: id
          Return id, name & owned_by:
            value: id,name,owned_by
        explode: true
        in: query
        name: only
        required: false
        schema:
          type: string
        style: form
      - description: Dereference foreign keys
        examples:
          '(default) Automatically replace all foreign key ids with referenced resource name ':
            value: auto
          Do not dereference anything, just return ids:
            value: none
          Dereference cloud id to cloud provider:
            value: cloud:provider
          Dereference cloud by provider, creator by email, owner by name:
            value: cloud:provider, creator:email, owned_by:name
        explode: true
        in: query
        name: deref
        required: false
        schema:
          default: auto
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListClustersResponse'
          description: List clusters response
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
      security:
      - ApiKeyAuth:
        - read:cluster
        - read:cloud
      - CookieAuth:
        - read:cluster
        - read:cloud
      summary: List clusters
      tags:
      - clusters
      x-cli-table-default:
      - name
      - cloud
      - total_nodes
      - tags
      x-cli-table-extended:
      - id
      - name
      - cloud
      - total_nodes
      - total_cpus
      - total_ram
      - tags
      - owned_by
      - created_by
    post:
      description: Create a new cluster and return the cluster's id
      operationId: create-cluster
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateClusterRequest'
      responses:
        "200":
          description: Cluster creation successful
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
      security:
      - ApiKeyAuth:
        - create:cluster
        - read:cloud
        - create_resources:cloud
      - CookieAuth:
        - create:cluster
        - read:cloud
        - create_resources:cloud
      summary: Create cluster
      tags:
      - clusters
  /api/v2/clusters/{cluster}:
    delete:
      description: Destroy target clusters
      operationId: destroy-cluster
      parameters:
      - example: example-cluster
        explode: false
        in: path
        name: cluster
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Cluster destruction successful
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Cluster not found
      security:
      - ApiKeyAuth:
        - read:cloud
        - destroy:cluster
      - CookieAuth:
        - read:cloud
        - destroy:cluster
      summary: Destroy cluster
      tags:
      - clusters
    get:
      description: Get details about target cluster
      operationId: get-cluster
      parameters:
      - example: example-cluster
        explode: false
        in: path
        name: cluster
        required: true
        schema:
          type: string
        style: simple
      - description: Only return these fields
        examples:
          Only return id:
            value: id
          Return id, name & owned_by:
            value: id,name,owned_by
        explode: true
        in: query
        name: only
        required: false
        schema:
          type: string
        style: form
      - description: Dereference foreign keys
        examples:
          '(default) Automatically replace all foreign key ids with referenced resource name ':
            value: auto
          Do not dereference anything, just return ids:
            value: none
          Dereference cloud id to cloud provider:
            value: cloud:provider
          Dereference cloud by provider, creator by email, owner by name:
            value: cloud:provider, creator:email, owned_by:name
        explode: true
        in: query
        name: deref
        required: false
        schema:
          default: auto
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetClusterResponse'
          description: Cluster returned successfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Cluster not found
      security:
      - ApiKeyAuth:
        - read:cluster
        - read:cloud
      - CookieAuth:
        - read:cluster
        - read:cloud
      summary: Get cluster
      tags:
      - clusters
      x-cli-table-default:
      - name
      - cloud
      - total_nodes
      - tags
      x-cli-table-extended:
      - id
      - name
      - cloud
      - total_nodes
      - total_cpus
      - total_ram
      - tags
      - owned_by
      - created_by
  /api/v2/datapoints:
    get:
      description: Get datapoints for a specific query
      operationId: get-datapoints
      parameters:
      - example: example-query
        explode: true
        in: query
        name: query
        required: true
        schema:
          type: string
        style: form
      - example: example-tags
        explode: true
        in: query
        name: tags
        required: false
        schema:
          type: string
        style: form
      - example: example-tags
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - example: example-start
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: string
        style: form
      - example: example-end
        explode: true
        in: query
        name: end
        required: false
        schema:
          type: string
        style: form
      - example: example-step
        explode: true
        in: query
        name: step
        required: false
        schema:
          type: string
        style: form
      - example: example-time
        explode: true
        in: query
        name: time
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDatapointsResponse'
          description: Datapoints returned successfully
        "400":
          description: Bad Request
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "422":
          description: Unprocessable Entity
        "503":
          description: Service Unavailable
      security:
      - ApiKeyAuth:
        - read:cloud
        - read:machine
      - CookieAuth:
        - read:cloud
        - read:machine
      summary: Get datapoints
      tags:
      - datapoints
  /api/v2/images:
    get:
      description: List images owned by the active org. READ permission required on
        image & cloud.
      operationId: list-images
      parameters:
      - examples:
          Filter by cloud id:
            value: 0194030499e74b02bdf68fa7130fb0b2
          Filter by cloud name:
            value: OSP10-new
          Filter by cloud provider:
            value: provider:digitalocean
        explode: true
        in: query
        name: cloud
        required: false
        schema:
          type: string
        style: form
      - description: Only return results matching search filter
        examples:
          Filter by OS type:
            value: os_type:windows
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: Order results by
        examples:
          Sort by name, descending:
            value: -name
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - description: Start results from index or id
        examples:
          Start from the 50th result:
            value: "50"
          Start from item with id xyz:
            value: xyz
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: string
        style: form
      - description: Limit number of results, 1000 max
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Only return these fields
        examples:
          Only return id:
            value: id
          Return id, name & owned_by:
            value: id,name,owned_by
        explode: true
        in: query
        name: only
        required: false
        schema:
          type: string
        style: form
      - description: Dereference foreign keys
        examples:
          '(default) Automatically replace all foreign key ids with referenced resource name ':
            value: auto
          Do not dereference anything, just return ids:
            value: none
          Dereference cloud id to cloud provider:
            value: cloud:provider
          Dereference cloud by provider, creator by email, owner by name:
            value: cloud:provider, creator:email, owned_by:name
        explode: true
        in: query
        name: deref
        required: false
        schema:
          default: auto
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListImagesResponse'
          description: List images response
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
      security:
      - ApiKeyAuth:
        - read:image
        - read:cloud
      - CookieAuth:
        - read:image
        - read:cloud
      summary: List images
      tags:
      - images
      x-cli-table-default:
      - starred
      - name
      - cloud
      - os_type
      - tags
      x-cli-table-extended:
      - starred
      - id
      - external_id
      - name
      - cloud
      - os_type
      - tags
      - owned_by
      - created_by
  /api/v2/images/{image}:
    get:
      description: Get details about target image
      operationId: get-image
      parameters:
      - explode: false
        in: path
        name: image
        required: true
        schema:
          type: string
        style: simple
      - description: Only return these fields
        examples:
          Only return id:
            value: id
          Return id, name & owned_by:
            value: id,name,owned_by
        explode: true
        in: query
        name: only
        required: false
        schema:
          type: string
        style: form
      - description: Dereference foreign keys
        examples:
          '(default) Automatically replace all foreign key ids with referenced resource name ':
            value: auto
          Do not dereference anything, just return ids:
            value: none
          Dereference cloud id to cloud provider:
            value: cloud:provider
          Dereference cloud by provider, creator by email, owner by name:
            value: cloud:provider, creator:email, owned_by:name
        explode: true
        in: query
        name: deref
        required: false
        schema:
          default: auto
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetImageResponse'
          description: Image returned successfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Image not found
      security:
      - ApiKeyAuth:
        - read:image
        - read:cloud
      - CookieAuth:
        - read:image
        - read:cloud
      summary: Get image
      tags:
      - images
      x-cli-table-default:
      - starred
      - name
      - cloud
      - os_type
      - tags
      x-cli-table-extended:
      - starred
      - id
      - external_id
      - name
      - cloud
      - os_type
      - tags
      - owned_by
      - created_by
  /api/v2/jobs/{job_id}:
    get:
      description: "null"
      operationId: get-job
      parameters:
      - explode: false
        in: path
        name: job_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetJobResponse'
          description: Job returned successfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Job not found
      security:
      - ApiKeyAuth:
        - read:job
      - CookieAuth:
        - read:job
      summary: Get job
      tags:
      - jobs
  /api/v2/keys:
    get:
      description: List keys owned by the active org. READ permission required on
        key.
      operationId: list-keys
      parameters:
      - description: Only return results matching search filter
        examples:
          Filter by key type:
            value: type:ssh
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: Order results by
        examples:
          Sort by name, descending:
            value: -name
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - description: Start results from index or id
        examples:
          Start from the 50th result:
            value: "50"
          Start from item with id xyz:
            value: xyz
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: string
        style: form
      - description: Limit number of results, 1000 max
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Only return these fields
        examples:
          Only return id:
            value: id
          Return id, name & owned_by:
            value: id,name,owned_by
        explode: true
        in: query
        name: only
        required: false
        schema:
          type: string
        style: form
      - description: Dereference foreign keys
        examples:
          (default) Automatically replace all foreign key ids with referenced resource name:
            value: auto
          Do not dereference anything, just return ids:
            value: none
          Dereference creator by email, owner by name:
            value: creator:email, owned_by:name
        explode: true
        in: query
        name: deref
        required: false
        schema:
          default: auto
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListKeysResponse'
          description: List keys response
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
      security:
      - ApiKeyAuth:
        - read:key
      - CookieAuth:
        - read:key
      summary: List keys
      tags:
      - keys
      x-cli-table-default:
      - name
      - default
      - tags
      x-cli-table-extended:
      - id
      - name
      - default
      - tags
      - owned_by
      - created_by
    post:
      description: Adds a new key and returns the key's id. ADD permission required
        on key.
      operationId: add-key
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddKeyRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddKeyResponse'
          description: Key added succesfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
      security:
      - ApiKeyAuth:
        - add:key
      - CookieAuth:
        - add:key
      summary: Add key
      tags:
      - keys
  /api/v2/keys/{key}:
    delete:
      description: Delete target key
      operationId: delete-key
      parameters:
      - example: example-key
        explode: false
        in: path
        name: key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: key deleted successfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Key not found
      security:
      - ApiKeyAuth:
        - delete:key
      - CookieAuth:
        - delete:key
      summary: Delete key
      tags:
      - keys
    get:
      description: Get details about target key
      operationId: get-key
      parameters:
      - example: example-key
        explode: false
        in: path
        name: key
        required: true
        schema:
          type: string
        style: simple
      - description: Return the private key. Requires READ_PRIVATE permission on key.
        explode: true
        in: query
        name: private
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Order results by
        examples:
          Sort by name, descending:
            value: -name
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - description: Only return these fields
        examples:
          Only return id:
            value: id
          Return id, name & owned_by:
            value: id,name,owned_by
        explode: true
        in: query
        name: only
        required: false
        schema:
          type: string
        style: form
      - description: Dereference foreign keys
        examples:
          (default) Automatically replace all foreign key ids with referenced resource name:
            value: auto
          Do not dereference anything, just return ids:
            value: none
          Dereference creator by email, owner by name:
            value: creator:email, owned_by:name
        explode: true
        in: query
        name: deref
        required: false
        schema:
          default: auto
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetKeyResponse'
          description: Key returned successfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Key not found
      security:
      - ApiKeyAuth:
        - read:key
      - CookieAuth:
        - read:key
      summary: Get key
      tags:
      - keys
      x-cli-table-default:
      - name
      - default
      - tags
      x-cli-table-extended:
      - id
      - name
      - default
      - tags
      - owned_by
      - created_by
    put:
      description: Edit target key
      operationId: edit-key
      parameters:
      - example: example-key
        explode: false
        in: path
        name: key
        required: true
        schema:
          type: string
        style: simple
      - description: New key name
        example: renamed-example-key
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Set as default
        explode: true
        in: query
        name: default
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          description: Key successfully updated
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Key not found
      security:
      - ApiKeyAuth:
        - edit:key
      - CookieAuth:
        - edit:key
      summary: Edit key
      tags:
      - keys
  /api/v2/locations:
    get:
      description: List locations owned by the active org. READ permission required
        on location & cloud.
      operationId: list-locations
      parameters:
      - examples:
          Filter by cloud id:
            value: 0194030499e74b02bdf68fa7130fb0b2
          Filter by cloud name:
            value: OSP10-new
          Filter by cloud provider:
            value: provider:digitalocean
        explode: true
        in: query
        name: cloud
        required: false
        schema:
          type: string
        style: form
      - description: Only return results matching search filter
        examples:
          Filter by location name:
            value: cinet3
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: Order results by
        examples:
          Sort by name, descending:
            value: -name
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - description: Start results from index or id
        examples:
          Start from the 50th result:
            value: "50"
          Start from item with id xyz:
            value: xyz
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: string
        style: form
      - description: Limit number of results, 1000 max
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Only return these fields
        examples:
          Only return id:
            value: id
          Return id, name & owned_by:
            value: id,name,owned_by
        explode: true
        in: query
        name: only
        required: false
        schema:
          type: string
        style: form
      - description: Dereference foreign keys
        examples:
          '(default) Automatically replace all foreign key ids with referenced resource name ':
            value: auto
          Do not dereference anything, just return ids:
            value: none
          Dereference cloud id to cloud provider:
            value: cloud:provider
        explode: true
        in: query
        name: deref
        required: false
        schema:
          default: auto
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListLocationsResponse'
          description: List locations response
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
      security:
      - ApiKeyAuth:
        - read:cloud
      - CookieAuth:
        - read:cloud
      summary: List locations
      tags:
      - locations
      x-cli-table-default:
      - name
      - cloud
      x-cli-table-extended:
      - id
      - name
      - cloud
      - external_id
      - machines
  /api/v2/locations/{location}:
    get:
      description: Get details about target location
      operationId: get-location
      parameters:
      - explode: false
        in: path
        name: location
        required: true
        schema:
          type: string
        style: simple
      - description: Only return these fields
        examples:
          Only return id:
            value: id
        explode: true
        in: query
        name: only
        required: false
        schema:
          type: string
        style: form
      - description: Dereference foreign keys
        examples:
          '(default) Automatically replace all foreign key ids with referenced resource name ':
            value: auto
          Do not dereference anything, just return ids:
            value: none
          Dereference cloud id to cloud provider:
            value: cloud:provider
        explode: true
        in: query
        name: deref
        required: false
        schema:
          default: auto
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetLocationResponse'
          description: Location returned successfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Location not found
      security:
      - ApiKeyAuth:
        - read:cloud
      - CookieAuth:
        - read:cloud
      summary: Get location
      tags:
      - locations
      x-cli-table-default:
      - name
      - cloud
      x-cli-table-extended:
      - id
      - name
      - cloud
      - locations
      - external_id
      - machines
  /api/v2/machines:
    get:
      description: List machines owned by the active org. READ permission required
        on machine & cloud.
      operationId: list-machines
      parameters:
      - examples:
          Filter by cloud id:
            value: 0194030499e74b02bdf68fa7130fb0b2
          Filter by cloud name:
            value: OSP10-new
          Filter by cloud provider:
            value: provider:digitalocean
        explode: true
        in: query
        name: cloud
        required: false
        schema:
          type: string
        style: form
      - description: Only return results matching search filter
        examples:
          Filter by machine type:
            value: state:running
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: Order results by
        examples:
          Sort by name, descending:
            value: -name
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - description: Start results from index or id
        examples:
          Start from the 50th result:
            value: "50"
          Start from item with id xyz:
            value: xyz
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: string
        style: form
      - description: Limit number of results, 1000 max
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Only return these fields
        examples:
          Only return id:
            value: id
          Return id, name & owned_by:
            value: id,name,owned_by
        explode: true
        in: query
        name: only
        required: false
        schema:
          type: string
        style: form
      - description: Dereference foreign keys
        examples:
          '(default) Automatically replace all foreign key ids with referenced resource name ':
            value: auto
          Do not dereference anything, just return ids:
            value: none
          Dereference cloud id to cloud provider:
            value: cloud:provider
          Dereference cloud by provider, creator by email, owner by name:
            value: cloud:provider, creator:email, owned_by:name
        explode: true
        in: query
        name: deref
        required: false
        schema:
          default: auto
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListMachinesResponse'
          description: List machines response
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
      security:
      - ApiKeyAuth:
        - read:machine
        - read:cloud
      - CookieAuth:
        - read:machine
        - read:cloud
      summary: List machines
      tags:
      - machines
      x-cli-table-default:
      - name
      - cloud
      - state
      - tags
      x-cli-table-extended:
      - id
      - name
      - state
      - cloud
      - external_id
      - public_ips
      - tags
      - owned_by
      - created_by
    post:
      description: Creates one or more machines on the specified cloud. If async is
        true, a jobId will be returned. READ permission required on cloud. CREATE_RESOURCES
        permission required on cloud. READ permission required on location. CREATE_RESOURCES
        permission required on location. CREATE permission required on machine. RUN
        permission required on script. READ permission required on key.
      operationId: create-machine
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMachineRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateMachineResponse'
          description: Machine provisioning started
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
      security:
      - ApiKeyAuth:
        - create:machine
        - read:cloud
        - create_resources:cloud
        - read:location
        - create_resources:location
        - read:image
        - create_resources:image
        - read:script
        - read:key
      - CookieAuth:
        - create:machine
        - read:cloud
        - create_resources:cloud
        - read:location
        - create_resources:location
        - read:image
        - create_resources:image
        - read:script
        - read:key
      summary: Create machine
      tags:
      - machines
  /api/v2/machines/{machine}:
    get:
      description: Get details about target machine
      operationId: get-machine
      parameters:
      - example: example-machine
        explode: false
        in: path
        name: machine
        required: true
        schema:
          type: string
        style: simple
      - description: Only return these fields
        examples:
          Only return id:
            value: id
          Return id, name & owned_by:
            value: id,name,owned_by
        explode: true
        in: query
        name: only
        required: false
        schema:
          type: string
        style: form
      - description: Dereference foreign keys
        examples:
          '(default) Automatically replace all foreign key ids with referenced resource name ':
            value: auto
          Do not dereference anything, just return ids:
            value: none
          Dereference cloud id to cloud provider:
            value: cloud:provider
          Dereference cloud by provider, creator by email, owner by name:
            value: cloud:provider, creator:email, owned_by:name
        explode: true
        in: query
        name: deref
        required: false
        schema:
          default: auto
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMachineResponse'
          description: Machine returned successfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Machine not found
      security:
      - ApiKeyAuth:
        - read:machine
        - read:cloud
      - CookieAuth:
        - read:machine
        - read:cloud
      summary: Get machine
      tags:
      - machines
      x-cli-table-default:
      - name
      - cloud
      - state
      - tags
      x-cli-table-extended:
      - id
      - name
      - state
      - cloud
      - external_id
      - public_ips
      - tags
      - owned_by
      - created_by
    put:
      description: Edit target machine
      operationId: edit-machine
      parameters:
      - example: example-machine
        explode: false
        in: path
        name: machine
        required: true
        schema:
          type: string
        style: simple
      - description: New machine name
        example: renamed-example-machine
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Machine successfully updated
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Machine not found
      security:
      - ApiKeyAuth:
        - edit:machine
      - CookieAuth:
        - edit:machine
      summary: Edit machine
      tags:
      - machines
  /api/v2/machines/{machine}/actions/associate-key:
    put:
      description: Associate a key with a machine.
      operationId: associate-key
      parameters:
      - example: example-machine
        explode: false
        in: path
        name: machine
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KeyMachineAssociation'
      responses:
        "200":
          description: Association successful
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Machine or Key not found
        "422":
          description: Action not supported on target machine
        "503":
          description: Could not connect to target machine
      security:
      - ApiKeyAuth:
        - associate_key:machine
        - read:cloud
        - read_private:key
      - CookieAuth:
        - associate_key:machine
        - read:cloud
        - read_private:key
      summary: Associate a key with a machine
      tags:
      - machines
  /api/v2/machines/{machine}/actions/clone:
    post:
      description: Clone target machine
      operationId: clone-machine
      parameters:
      - example: example-machine
        explode: false
        in: path
        name: machine
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Machine clone issued successfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Machine not found
        "422":
          description: Action not supported on target machine
      security:
      - ApiKeyAuth:
        - clone:machine
      - CookieAuth:
        - clone:machine
      summary: Clone machine
      tags:
      - machines
  /api/v2/machines/{machine}/actions/console:
    post:
      description: Open VNC console on target machine
      operationId: console
      parameters:
      - example: example-machine
        explode: false
        in: path
        name: machine
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Machine console opened successfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Machine not found
        "422":
          description: Action not supported on target machine
      security:
      - ApiKeyAuth:
        - console:machine
      - CookieAuth:
        - console:machine
      summary: Open console
      tags:
      - machines
  /api/v2/machines/{machine}/actions/destroy:
    post:
      description: Destroy target machine
      operationId: destroy-machine
      parameters:
      - example: example-machine
        explode: false
        in: path
        name: machine
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Machine destroy issued successfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Machine not found
        "422":
          description: Action not supported on target machine
      security:
      - ApiKeyAuth:
        - destroy:machine
      - CookieAuth:
        - destroy:machine
      summary: Destroy machine
      tags:
      - machines
  /api/v2/machines/{machine}/actions/disassociate-key:
    delete:
      description: Disassociate a key from a machine.
      operationId: disassociate-key
      parameters:
      - example: example-machine
        explode: false
        in: path
        name: machine
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KeyMachineDisassociation'
      responses:
        "200":
          description: Disassociation successful
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Machine or Key not found
        "422":
          description: Action not supported on target machine
      security:
      - ApiKeyAuth:
        - disassociate_key:machine
        - read:cloud
      - CookieAuth:
        - disassociate_key:machine
        - read:cloud
      summary: Disassociate a key from a machine
      tags:
      - machines
  /api/v2/machines/{machine}/actions/expose:
    post:
      description: Expose target machine
      operationId: expose-machine
      parameters:
      - example: example-machine
        explode: false
        in: path
        name: machine
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Machine expose issued successfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Machine not found
        "422":
          description: Action not supported on target machine
      security:
      - ApiKeyAuth:
        - expose:machine
      - CookieAuth:
        - expose:machine
      summary: Expose machine
      tags:
      - machines
  /api/v2/machines/{machine}/actions/reboot:
    post:
      description: Reboot target machine
      operationId: reboot-machine
      parameters:
      - example: example-machine
        explode: false
        in: path
        name: machine
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Machine reboot issued successfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Machine not found
        "422":
          description: Action not supported on target machine
      security:
      - ApiKeyAuth:
        - reboot:machine
      - CookieAuth:
        - reboot:machine
      summary: Reboot machine
      tags:
      - machines
  /api/v2/machines/{machine}/actions/rename:
    post:
      description: Rename target machine
      operationId: rename-machine
      parameters:
      - example: example-machine
        explode: false
        in: path
        name: machine
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Machine renamed successfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Machine not found
        "422":
          description: Action not supported on target machine
      security:
      - ApiKeyAuth:
        - rename:machine
      - CookieAuth:
        - rename:machine
      summary: Rename machine
      tags:
      - machines
  /api/v2/machines/{machine}/actions/resize:
    post:
      description: Resize target machine
      operationId: resize-machine
      parameters:
      - example: example-machine
        explode: false
        in: path
        name: machine
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Machine resize issued successfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Machine not found
        "422":
          description: Action not supported on target machine
      security:
      - ApiKeyAuth:
        - resize:machine
      - CookieAuth:
        - resize:machine
      summary: Resize machine
      tags:
      - machines
  /api/v2/machines/{machine}/actions/resume:
    post:
      description: Resume target machine
      operationId: resume-machine
      parameters:
      - example: example-machine
        explode: false
        in: path
        name: machine
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Machine resume issued successfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Machine not found
        "422":
          description: Action not supported on target machine
      security:
      - ApiKeyAuth:
        - resume:machine
      - CookieAuth:
        - resume:machine
      summary: Resume machine
      tags:
      - machines
  /api/v2/machines/{machine}/actions/ssh:
    post:
      description: Open secure shell on target machine
      operationId: ssh
      parameters:
      - example: example-machine
        explode: false
        in: path
        name: machine
        required: true
        schema:
          type: string
        style: simple
      responses:
        "302":
          description: Redirect to machine shell
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Machine not found
        "422":
          description: Action not supported on target machine
      security:
      - ApiKeyAuth:
        - read:cloud
        - read:machine
        - ssh:machine
      - CookieAuth:
        - read:cloud
        - read:machine
        - ssh:machine
      summary: Open secure shell
      tags:
      - machines
    x-cli-ignore: true
  /api/v2/machines/{machine}/actions/start:
    post:
      description: Start target machine
      operationId: start-machine
      parameters:
      - example: example-machine
        explode: false
        in: path
        name: machine
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Machine start issued successfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Machine not found
        "422":
          description: Action not supported on target machine
      security:
      - ApiKeyAuth:
        - start:machine
      - CookieAuth:
        - start:machine
      summary: Start machine
      tags:
      - machines
  /api/v2/machines/{machine}/actions/stop:
    post:
      description: Stop target machine
      operationId: stop-machine
      parameters:
      - example: example-machine
        explode: false
        in: path
        name: machine
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Machine stop issued successfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Machine not found
        "422":
          description: Action not supported on target machine
      security:
      - ApiKeyAuth:
        - stop:machine
      - CookieAuth:
        - stop:machine
      summary: Stop machine
      tags:
      - machines
  /api/v2/machines/{machine}/actions/suspend:
    post:
      description: Suspend target machine
      operationId: suspend-machine
      parameters:
      - example: example-machine
        explode: false
        in: path
        name: machine
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Machine suspend issued successfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Machine not found
        "422":
          description: Action not supported on target machine
      security:
      - ApiKeyAuth:
        - suspend:machine
      - CookieAuth:
        - suspend:machine
      summary: Suspend machine
      tags:
      - machines
  /api/v2/machines/{machine}/actions/undefine:
    post:
      description: Undefine target machine
      operationId: undefine-machine
      parameters:
      - example: example-machine
        explode: false
        in: path
        name: machine
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Machine undefine issued successfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Machine not found
        "422":
          description: Action not supported on target machine
      security:
      - ApiKeyAuth:
        - undefine:machine
      - CookieAuth:
        - undefine:machine
      summary: Undefine machine
      tags:
      - machines
  /api/v2/machines/{machine}/snapshots:
    get:
      description: List snapshots of target machine
      operationId: list-snapshots
      parameters:
      - example: example-machine
        explode: false
        in: path
        name: machine
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSnapshotsResponse'
          description: List machine snapshots response
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Machine not found
        "422":
          description: Action not supported on target machine
      security:
      - ApiKeyAuth:
        - read:machine
        - list_snapshots:machine
      - CookieAuth:
        - read:machine
        - list_snapshots:machine
      summary: List machine snapshots
      tags:
      - snapshots
    post:
      description: Create snapshots of target machine
      operationId: create-snapshot
      parameters:
      - example: example-machine
        explode: false
        in: path
        name: machine
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateSnapshotResponse'
          description: Create machine snapshot response
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Machine not found
        "422":
          description: Action not supported on target machine
      security:
      - ApiKeyAuth:
        - read:machine
        - list_snapshots:machine
        - create_snapshots:machine
      - CookieAuth:
        - read:machine
        - list_snapshots:machine
        - create_snapshots:machine
      summary: Create snapshot
      tags:
      - snapshots
  /api/v2/machines/{machine}/snapshots/{snapshot}:
    delete:
      description: Remove target machine snapshot
      operationId: remove-snapshot
      parameters:
      - example: example-machine
        explode: false
        in: path
        name: machine
        required: true
        schema:
          type: string
        style: simple
      - example: example-snapshot
        explode: false
        in: path
        name: snapshot
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Snapshot removed successfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Machine not found
        "422":
          description: Action not supported on target machine
      security:
      - ApiKeyAuth:
        - read:machine
        - list_snapshots:machine
        - create_snapshots:machine
      - CookieAuth:
        - read:machine
        - list_snapshots:machine
        - create_snapshots:machine
      summary: Remove snapshot
      tags:
      - snapshots
    post:
      description: Revert machine to snapshot
      operationId: revert-to-snapshot
      parameters:
      - example: example-machine
        explode: false
        in: path
        name: machine
        required: true
        schema:
          type: string
        style: simple
      - example: example-snapshot
        explode: false
        in: path
        name: snapshot
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Revert machine to snapshot issued successfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Machine not found
        "422":
          description: Action not supported on target machine
      security:
      - ApiKeyAuth:
        - read:machine
        - list_snapshots:machine
        - revert_to_snapshots:machine
      - CookieAuth:
        - read:machine
        - list_snapshots:machine
        - revert_to_snapshots:machine
      summary: Revert to snapshot
      tags:
      - snapshots
  /api/v2/networks:
    get:
      description: List networks owned by the active org. READ permission required
        on network & cloud.
      operationId: list-networks
      parameters:
      - examples:
          Filter by cloud id:
            value: 0194030499e74b02bdf68fa7130fb0b2
          Filter by cloud name:
            value: OSP10-new
          Filter by cloud provider:
            value: provider:digitalocean
        explode: true
        in: query
        name: cloud
        required: false
        schema:
          type: string
        style: form
      - description: Only return results matching search filter
        examples:
          Filter by network name:
            value: cinet3
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: Order results by
        examples:
          Sort by name, descending:
            value: -name
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - description: Start results from index or id
        examples:
          Start from the 50th result:
            value: "50"
          Start from item with id xyz:
            value: xyz
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: string
        style: form
      - description: Limit number of results, 1000 max
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Only return these fields
        examples:
          Only return id:
            value: id
          Return id, name & owned_by:
            value: id,name,owned_by
        explode: true
        in: query
        name: only
        required: false
        schema:
          type: string
        style: form
      - description: Dereference foreign keys
        examples:
          '(default) Automatically replace all foreign key ids with referenced resource name ':
            value: auto
          Do not dereference anything, just return ids:
            value: none
          Dereference cloud id to cloud provider:
            value: cloud:provider
          Dereference cloud by provider, creator by email, owner by name:
            value: cloud:provider, creator:email, owned_by:name
        explode: true
        in: query
        name: deref
        required: false
        schema:
          default: auto
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListNetworksResponse'
          description: List networks response
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
      security:
      - ApiKeyAuth:
        - read:network
        - read:cloud
      - CookieAuth:
        - read:network
        - read:cloud
      summary: List networks
      tags:
      - networks
      x-cli-table-default:
      - name
      - cloud
      - machines
      - tags
      x-cli-table-extended:
      - id
      - name
      - cloud
      - external_id
      - machines
      - tags
      - owned_by
      - created_by
    post:
      description: Creates one or more networks on the specified cloud. If async is
        true, a jobId will be returned. READ permission required on cloud. CREATE_RESOURCES
        permission required on cloud. CREATE permission required on network.
      operationId: create-network
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateNetworkRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateNetworkResponse'
          description: Network provisioning started
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
      security:
      - ApiKeyAuth:
        - create:network
        - read:cloud
        - create_resources:cloud
      - CookieAuth:
        - create:network
        - read:cloud
        - create_resources:cloud
      summary: Create network
      tags:
      - networks
  /api/v2/networks/{network}:
    get:
      description: Get details about target network
      operationId: get-network
      parameters:
      - example: example-network
        explode: false
        in: path
        name: network
        required: true
        schema:
          type: string
        style: simple
      - description: Only return these fields
        examples:
          Only return id:
            value: id
          Return id, name & owned_by:
            value: id,name,owned_by
        explode: true
        in: query
        name: only
        required: false
        schema:
          type: string
        style: form
      - description: Dereference foreign keys
        examples:
          '(default) Automatically replace all foreign key ids with referenced resource name ':
            value: auto
          Do not dereference anything, just return ids:
            value: none
          Dereference cloud id to cloud provider:
            value: cloud:provider
          Dereference cloud by provider, creator by email, owner by name:
            value: cloud:provider, creator:email, owned_by:name
        explode: true
        in: query
        name: deref
        required: false
        schema:
          default: auto
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetNetworkResponse'
          description: Network returned successfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Network not found
      security:
      - ApiKeyAuth:
        - read:network
        - read:cloud
      - CookieAuth:
        - read:network
        - read:cloud
      summary: Get network
      tags:
      - networks
      x-cli-table-default:
      - name
      - cloud
      - machines
      - tags
      x-cli-table-extended:
      - id
      - name
      - cloud
      - location
      - external_id
      - subnets
      - machines
      - tags
      - owned_by
      - created_by
    put:
      description: Edit target network
      operationId: edit-network
      parameters:
      - example: example-network
        explode: false
        in: path
        name: network
        required: true
        schema:
          type: string
        style: simple
      - description: New network name
        example: renamed-example-network
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Network successfully updated
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Network not found
      security:
      - ApiKeyAuth:
        - edit:network
      - CookieAuth:
        - edit:network
      summary: Edit network
      tags:
      - networks
  /api/v2/orgs:
    get:
      description: List orgs owned by the requester. If parameter allorgs is true
        and requester is an admin then all orgs will be listed.
      operationId: list-orgs
      parameters:
      - description: Return all existing organizations
        explode: true
        in: query
        name: allorgs
        required: false
        schema:
          type: string
        style: form
      - description: Only return results matching search filter
        examples:
          Filter by orgs by name:
            value: name:Acme
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: Order results by
        examples:
          Sort by name, descending:
            value: -name
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - description: Start results from index or id
        examples:
          Start from the 50th result:
            value: "50"
          Start from item with id xyz:
            value: xyz
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: string
        style: form
      - description: Limit number of results, 100 max
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Only return these fields
        examples:
          Only return id:
            value: id
          Return name, id, teams:
            value: name,id,teams
        explode: true
        in: query
        name: only
        required: false
        schema:
          type: string
        style: form
      - description: Dereference foreign keys
        examples:
          (default) Automatically replace all foreign key ids with referenced resource name:
            value: auto
          Do not dereference anything, just return ids:
            value: none
          Dereference teams:
            value: teams:name
        explode: true
        in: query
        name: deref
        required: false
        schema:
          default: auto
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOrgsResponse'
          description: List orgs response
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
      security:
      - ApiKeyAuth:
        - ""
      - CookieAuth:
        - ""
      summary: List orgs
      tags:
      - orgs
      x-cli-table-default:
      - name
      - clouds_count
      - teams_count
      x-cli-table-extended:
      - name
      - id
      - clouds_count
      - teams_count
      - last_active
  /api/v2/orgs/{org}:
    get:
      description: Get details about target org
      operationId: get-org
      parameters:
      - example: example-org
        explode: false
        in: path
        name: org
        required: true
        schema:
          type: string
        style: simple
      - description: Only return these fields
        examples:
          Only return id:
            value: id
          Return name, id, teams:
            value: name,id,teams
        explode: true
        in: query
        name: only
        required: false
        schema:
          type: string
        style: form
      - description: Dereference foreign keys
        examples:
          (default) Automatically replace all foreign key ids with referenced resource name:
            value: auto
          Do not dereference anything, just return ids:
            value: none
          Dereference teams by name:
            value: teams:name
        explode: true
        in: query
        name: deref
        required: false
        schema:
          default: auto
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrgResponse'
          description: Organization returned successfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Org not found
      security:
      - ApiKeyAuth:
        - ""
      - CookieAuth:
        - ""
      summary: Get Org
      tags:
      - orgs
      - name
      - clouds_count
      - total_machine_count
      x-cli-table-extended:
      - name
      - id
      - clouds_count
      - total_machine_count
      - last_active
  /api/v2/orgs/{org}/members:
    get:
      description: List org members owned by the requester. The requester must be
        a member of the org.
      operationId: list-org-members
      parameters:
      - example: example-org
        explode: false
        in: path
        name: org
        required: true
        schema:
          type: string
        style: simple
      - description: Only return results matching search filter
        examples:
          Filter by orgs by email:
            value: email:dev@mist.io
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: Order results by
        examples:
          Sort by name, descending:
            value: -name
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - description: Start results from index or id
        examples:
          Start from the 50th result:
            value: "50"
          Start from item with id xyz:
            value: xyz
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: string
        style: form
      - description: Limit number of results, 1000 max
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Only return these fields
        examples:
          Only return id:
            value: id
          Return email, last name, registration date:
            value: email,last_name,registration_date
        explode: true
        in: query
        name: only
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOrgMembersResponse'
          description: List org members response
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
      security:
      - ApiKeyAuth:
        - ""
      - CookieAuth:
        - ""
      summary: List org members
      tags:
      - orgs
      - members
      x-cli-table-default:
      - email
      x-cli-table-extended:
      - email
      - id
      - last_login
      - registration_date
  /api/v2/orgs/{org}/members/{member}:
    get:
      description: Get details about target member
      operationId: get-member
      parameters:
      - example: example-org
        explode: false
        in: path
        name: org
        required: true
        schema:
          type: string
        style: simple
      - example: example-member
        explode: false
        in: path
        name: member
        required: true
        schema:
          type: string
        style: simple
      - description: Only return these fields
        examples:
          Only return id:
            value: id
          Return email, last_name:
            value: email,last_name
        explode: true
        in: query
        name: only
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrgMemberResponse'
          description: member returned successfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Org not found
      security:
      - ApiKeyAuth:
        - ""
      - CookieAuth:
        - ""
      summary: Get Org
      tags:
      - orgs
      x-cli-table-default:
      - email
      x-cli-table-extended:
      - email
      - id
      - last_login
      - registration_date
  /api/v2/orgs/{org}/teams:
    get:
      description: List teams in org.
      operationId: list-org-teams
      parameters:
      - description: Organization id
        example: example-org
        explode: false
        in: path
        name: org
        required: true
        schema:
          type: string
        style: simple
      - description: Only return results matching search filter
        examples:
          Filter by teams by name:
            value: name:finance
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: Order results by
        examples:
          Sort by name, descending:
            value: -name
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - description: Start results from index or id
        examples:
          Start from the 50th result:
            value: "50"
          Start from item with id xyz:
            value: xyz
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: string
        style: form
      - description: Limit number of results, 1000 max
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Only return these fields
        examples:
          Only return id:
            value: id
          Return name, members:
            value: name,members
        explode: true
        in: query
        name: only
        required: false
        schema:
          type: string
        style: form
      - description: Dereference foreign keys
        examples:
          (default) Automatically replace all foreign key ids with referenced resource name:
            value: auto
          Do not dereference anything, just return ids:
            value: none
          Dereference members by email:
            value: members:email
        explode: true
        in: query
        name: deref
        required: false
        schema:
          default: auto
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOrgTeamsResponse'
          description: List org teams response
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
      security:
      - ApiKeyAuth:
        - ""
      - CookieAuth:
        - ""
      summary: List org teams
      tags:
      - orgs
      - teams
      x-cli-table-default:
      - name
      - members_count
      x-cli-table-extended:
      - id
      - name
      - members_count
      - members
      - description
      - policy
  /api/v2/rules:
    get:
      description: Return a filtered list of rules
      operationId: list-rules
      parameters:
      - description: Only return results matching search filter
        examples:
          Filter by total_run_count:
            value: total_run_count:5
          Filter by name:
            value: rule-disk*
          Composite filter:
            value: provider:packet AND total_run_count:5
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: Order results by
        examples:
          Sort by name, descending:
            value: -name
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - description: Start results from index or id
        examples:
          Start from the 50th result:
            value: "50"
          Start from item with id xyz:
            value: xyz
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: string
        style: form
      - description: Limit number of results, 1000 max
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Only return these fields
        examples:
          Only return id:
            value: id
          Return id, name & owned_by:
            value: id,name,owned_by
        explode: true
        in: query
        name: only
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListRulesResponse'
          description: List rules response
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
      security:
      - ApiKeyAuth:
        - read:rule
      - CookieAuth:
        - read:rule
      summary: List rules
      tags:
      - rules
      x-cli-table-default:
      - name
      - queries
      - actions
      - tags
      x-cli-table-extended:
      - id
      - name
      - resource_type
      - selectors
      - queries
      - actions
      - window
      - frequency
      - tags
    post:
      description: Add a new rule, READ permission required on target resource, ADD
        permission required on Rule
      operationId: add-rule
      parameters:
      - explode: true
        in: query
        name: queries
        required: true
        schema:
          $ref: '#/components/schemas/Queries'
        style: form
      - explode: true
        in: query
        name: window
        required: true
        schema:
          $ref: '#/components/schemas/Window'
        style: form
      - explode: true
        in: query
        name: frequency
        required: true
        schema:
          $ref: '#/components/schemas/Frequency'
        style: form
      - explode: true
        in: query
        name: trigger_after
        required: true
        schema:
          $ref: '#/components/schemas/TriggerAfter'
        style: form
      - explode: true
        in: query
        name: actions
        required: true
        schema:
          $ref: '#/components/schemas/RuleActions'
        style: form
      - explode: true
        in: query
        name: selectors
        required: true
        schema:
          $ref: '#/components/schemas/Selector'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rule'
          description: Rule added succesfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
      security:
      - ApiKeyAuth:
        - add:rule
      - CookieAuth:
        - add:rule
      summary: Add rule
      tags:
      - rules
  /api/v2/rules/{rule}:
    delete:
      description: Delete a rule given its UUID.
      operationId: delete-rule
      parameters:
      - example: example-rule
        explode: false
        in: path
        name: rule
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Rule deleted successfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Rule not found
      security:
      - ApiKeyAuth:
        - delete:rule
      - CookieAuth:
        - delete:rule
      summary: Delete rule
      tags:
      - rules
    get:
      description: Get details about target rule
      operationId: get-rule
      parameters:
      - example: example-rule
        explode: false
        in: path
        name: rule
        required: true
        schema:
          type: string
        style: simple
      - description: Order results by
        examples:
          Sort by name, descending:
            value: -name
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - description: Only return these fields
        examples:
          Only return id:
            value: id
          Return id, name & owned_by:
            value: id,name,owned_by
        explode: true
        in: query
        name: only
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRuleResponse'
          description: Rule returned successfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Rule not found
      security:
      - ApiKeyAuth:
        - read:rule
      - CookieAuth:
        - read:rule
      summary: Get rule
      tags:
      - rules
      x-cli-table-default:
      - name
      - queries
      - actions
      - tags
      x-cli-table-extended:
      - id
      - name
      - resource_type
      - selectors
      - queries
      - actions
      - window
      - frequency
      - tags
    patch:
      description: Rename a rule
      operationId: rename-rule
      parameters:
      - example: example-rule
        explode: false
        in: path
        name: rule
        required: true
        schema:
          type: string
        style: simple
      - example: renamed-example-rule
        explode: true
        in: query
        name: action
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Rule renamed successfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Rule not found
      security:
      - ApiKeyAuth:
        - write:rule
      - CookieAuth:
        - write:rule
      summary: Rename rule
      tags:
      - rules
    post:
      description: Update a rule given its UUID, EDIT permission required on rule
      operationId: update-rule
      parameters:
      - explode: true
        in: query
        name: queries
        required: false
        schema:
          $ref: '#/components/schemas/Queries'
        style: form
      - explode: true
        in: query
        name: window
        required: false
        schema:
          $ref: '#/components/schemas/Window'
        style: form
      - explode: true
        in: query
        name: frequency
        required: false
        schema:
          $ref: '#/components/schemas/Frequency'
        style: form
      - explode: true
        in: query
        name: trigger_after
        required: false
        schema:
          $ref: '#/components/schemas/TriggerAfter'
        style: form
      - explode: true
        in: query
        name: actions
        required: false
        schema:
          $ref: '#/components/schemas/RuleActions'
        style: form
      - explode: true
        in: query
        name: selectors
        required: false
        schema:
          $ref: '#/components/schemas/Selector'
        style: form
      - example: example-rule
        explode: false
        in: path
        name: rule
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rule'
          description: Rule updated succesfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Rule not found
      security:
      - ApiKeyAuth:
        - read:cloud
        - edit:rule
      - CookieAuth:
        - read:cloud
        - edit:rule
      summary: Update rule
      tags:
      - rules
    put:
      description: Enable or disable a rule
      operationId: toggle-rule
      parameters:
      - example: example-rule
        explode: false
        in: path
        name: rule
        required: true
        schema:
          type: string
        style: simple
      - example: example-action
        explode: true
        in: query
        name: action
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Rule toggled successfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Rule not found
      security:
      - ApiKeyAuth:
        - write:rule
      - CookieAuth:
        - write:rule
      summary: Toggle rule
      tags:
      - rules
  /api/v2/scripts:
    get:
      description: List scripts owned by the active org. READ permission required
        on script.
      operationId: list-scripts
      parameters:
      - description: Only return results matching search filter
        examples:
          Filter by script name:
            value: install-tensorflow
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: Order results by
        examples:
          Sort by name, descending:
            value: -name
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - description: Start results from index or id
        examples:
          Start from the 3rd result:
            value: "3"
          Start from item with id xyz:
            value: xyz
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: string
        style: form
      - description: Limit number of results, 1000 max
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Only return these fields
        examples:
          Only return id:
            value: id
          Return id, name & created_by:
            value: id,name,created_by
        explode: true
        in: query
        name: only
        required: false
        schema:
          type: string
        style: form
      - description: Dereference foreign keys
        examples:
          '(default) Automatically replace all foreign key ids with referenced resource name ':
            value: auto
          Do not dereference anything, just return ids:
            value: none
          Dereference creator by email, owner by name:
            value: creator:email, owned_by:name'
        explode: true
        in: query
        name: deref
        required: false
        schema:
          default: auto
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListScriptsResponse'
          description: List scripts response
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
      security:
      - ApiKeyAuth:
        - read:script
      - CookieAuth:
        - read:script
      summary: List scripts
      tags:
      - scripts
      x-cli-table-default:
      - name
      - tags
      x-cli-table-extended:
      - id
      - name
      - description
      - tags
      - owned_by
      - created_by
  /api/v2/scripts/{script}:
    delete:
      description: Delete target script
      operationId: delete-script
      parameters:
      - example: example-script
        explode: false
        in: path
        name: script
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Script deleted successfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Script not found
      security:
      - ApiKeyAuth:
        - delete:script
      - CookieAuth:
        - delete:script
      summary: Delete script
      tags:
      - scripts
    get:
      description: Get details about target script
      operationId: get-script
      parameters:
      - example: example-script
        explode: false
        in: path
        name: script
        required: true
        schema:
          type: string
        style: simple
      - description: Only return these fields
        examples:
          Only return id:
            value: id
          Return id, name & owned_by:
            value: id,name,owned_by
        explode: true
        in: query
        name: only
        required: false
        schema:
          type: string
        style: form
      - description: Dereference foreign keys
        examples:
          '(default) Automatically replace all foreign key ids with referenced resource name ':
            value: auto
          Do not dereference anything, just return ids:
            value: none
          Dereference creator by email, owner by name:
            value: creator:email, owned_by:name'
        explode: true
        in: query
        name: deref
        required: false
        schema:
          default: auto
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetScriptResponse'
          description: Script returned successfully
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Script not found
      security:
      - ApiKeyAuth:
        - read:script
      - CookieAuth:
        - read:script
      summary: Get script
      tags:
      - scripts
      x-cli-table-default:
      - name
      - tags
      x-cli-table-extended:
      - id
      - name
      - description
      - tags
      - owned_by
      - created_by
    put:
      description: Edit target script
      operationId: edit-script
      parameters:
      - example: example-script
        explode: false
        in: path
        name: script
        required: true
        schema:
          type: string
        style: simple
      - description: New script name
        example: example-script
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: New script description
        explode: true
        in: query
        name: description
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Script successfully updated
        "401":
          description: Authentication failed
        "403":
          description: You are not authorized to perform this action
        "404":
          description: Script not found
      security:
      - ApiKeyAuth:
        - edit:script
      - CookieAuth:
        - edit:script
      summary: Edit script
      tags:
      - scripts
  /api/v2/sizes:
    get:
      description: List sizes owned by the active org. READ permission required on
        size & cloud.
      operationId: list-sizes
      parameters:
      - examples:
          Filter by cloud id:
            value: 0194030499e74b02bdf68fa7130fb0b2
          Filter by cloud name:
            value: OSP10-new
          Filter by cloud provider:
            value: provider:digitalocean
        explode: true
        in: query
        name: cloud
        required: false
        schema:
          type: string
        style: form
      - description: Only return results matching search filter
        examples:
          Filter by size name:
            value: cinet3
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: Order results by
        examples:
          Sort by name, descending:
            value: -name
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - description: Start results from index or id
        examples:
          Start from the 50th result:
            value: "50"
          Start from item with id xyz:
            value: xyz
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: string
        style: form
      - description: Limit number of results, 1000 max
[...]
